.DS_Store
.bash_history
.fontconfig/
.htpasswd
.mysql_history
.npm/
.npmrc
.nvm/
.profile
.viminfo
composer.phar
.sass-cache
.cache
.idea
atlassian-ide-plugin.xml
.qunit


wp-config.php
.htaccess
info.php

theme/node_modules
theme/build
theme/source/assets/.tmp
theme/source/assets/vendor
/tmp
wp
/vendor
composer
content/*
!content/themes
content/themes/*
!content/themes/piu
content/themes/piu/assets
content/themes/piu/data
content/themes/piu/views

kirby/*
!kirby/content
!kirby/content/**
kirby/content/.DS_Store
!kirby/site/config
!kirby/site/config/*
!kirby/site/controllers
!kirby/site/controllers/*
!kirby/site/blueprints
!kirby/site/blueprints/*
kirby 2/
