.mod_kirbyheader {

	/* Kirby Header
	-------------------------------------------------- */
	.header {
	  border-bottom: 2px solid red;
	  margin-bottom: 1.5em;
	}
	.logo {
	  display: block;
	  margin-bottom: 1.5em;
	}
	.logo img {
	  width: 2em;
	}

}
