@import "../.tmp/colors";
@import "globals/variables";
@import "globals/functions";
@import "globals/mixins";
@import "globals/mediaqueries";


// Reset / normalize styles
@import "../../../node_modules/normalize.css/normalize";

// Icons (as font or dataurl), PNG sprites
@import "../.tmp/iconfont";
@import "../.tmp/dataurls";
@import "../.tmp/pngsprite";

// General styles
@import "mediaqueries_sync";
@import "globals/classes";

// General layout
@import "layout";

// Modules
@import "../../modules/logo/logo";
@import "../../modules/kirbyfooter/kirbyfooter";
@import "../../modules/kirbyheader/kirbyheader";
@import "../../modules/kirbyprojects/kirbyprojects";
@import "../../modules/kirbymenu/kirbymenu";
@import "../../modules/kirbycontent/kirbycontent";
//*autoinsertmodule*

@media print {
	@import "print";
}
