<div class="mod_kirbynextprev" data-init="kirbynextprev">
	<nav class="nextprev cf" role="navigation">

		{% if page.prevVisible() %}
			<a class="prev" href="{{ page.prevVisible.url }}">&larr; previous</a>
		{% endif %}

		{% if page.nextVisible() %}
			<a class="next" href="{{ page.nextVisible.url }}">next &rarr;</a>
		{% endif %}

	</nav>
</div>
