.mod_kirbyfooter {

	/* Footer
	-------------------------------------------------- */
	.footer {
		padding: 1em 0 6em;
		font-size: .8em;
	}
	.copyright {
		float: left;
	}
	.colophon {
		float: right;
	}
	.colophon a b {
		color: red;
		padding-left: .25em;
	}

}
