<div class="mod_kirbymenu" data-init="kirbymenu">
	<nav role="navigation">

		{% set projects = site
		    .find('projects')
		    .children
		    .sortBy('date', 'desc')
		%}


		{% if projects.count %}
		    <ul class="menu cf">
		    {% for post in projects %}
		    	{% if post.visible %}
		        	<li>
		        		<a {{ post.isOpen ? 'class"active" : ""'}} href="{{ post.url }}">{{ post.title }}</a>
		        		{% if post.hasVisibleChildren %}
		        			{# TODO implement submenu as presented in kirby starterkit #}
		        	    {% endif %}
		        	</li>
		    	{% endif %}
		    {% endfor %}
		    </ul>
		{% endif %}

	</nav>

</div>
