<div class="mod_kirbyprojectcontent" data-init="kirbyprojectcontent">

		<h1>{{ page.title | raw }}</h1>

		{% include "modules/kirbymeta/kirbymeta.twig" %}

		{% include "modules/kirbytext/kirbytext.twig" %}

		{% include "modules/kirbynextprev/kirbynextprev.twig" %}

</div>
