<div class="mod_kirbyimages" data-init="kirbyimages">

	{% if images.count %}
		{% for image in images %}
	    	<figure>
				<img src="{{ image.url() }}" alt="{{ page.title | raw }}">
			</figure>
		{% endfor %}

	{% endif %}

</div>
